# Missing Data

Let's show a few convenient methods to deal with Missing Data in pandas:

 When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as columns of the DataFrame.

In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame( { 'A' : [ 1 ,2 ,3] , 'B' :[4 , 5 ,6]})
df

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,np.nan],
                  'D' : [4, np.nan , np.nan]})
#df = df.set_index('C')  
df

     A    B    C    D
0  1.0  5.0  1.0  4.0
1  2.0  NaN  2.0  NaN
2  NaN  NaN  NaN  NaN

In [3]:
df

     A    B    C    D
0  1.0  5.0  1.0  4.0
1  2.0  NaN  2.0  NaN
2  NaN  NaN  NaN  NaN

In [6]:
df.dropna(how = 'all', inplace = True)

In [ ]:
df.dropna(axis=1, how = 'all')

In [7]:
df

     A    B    C    D
0  1.0  5.0  1.0  4.0
1  2.0  NaN  2.0  NaN

In [ ]:

df.dropna(thresh=2 , axis = 1)

In [4]:
df.fillna(value='6')

   A  B  C  D
0  1  5  1  4
1  2  6  2  6
2  6  6  6  6

In [ ]:
df

In [ ]:
df['B'].fillna(value=df['C'].mean())

df['A'].fillna(value = df['A'].mean() )

In [ ]:
df['C'].plot()

In [ ]:
df

In [ ]:
df['C'].fillna('9')

In [ ]:
pip uninstall matplotlib

In [ ]:
import matplotlib

In [ ]:
print(matplotlib.__version__)

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'A' :[1,2,3],
                    'B' :[4,5,6]})

In [ ]:
df