SERIES

Each column in a DataFrame is a Series
One-dimensional ndarray with axis labels (including time series).

In [1]:
import pandas as pd

class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
https://pandas.pydata.org/docs/reference/api/pandas.Series.html

In [2]:
#Q: How to convert list to series?
my_data = ['apple', 'orange', 'mango']
my_series = pd.Series(my_data)

In [3]:
my_series

0     apple
1    orange
2     mango
dtype: object

In [4]:
type(my_data)

list

In [5]:
type(my_series)

pandas.core.series.Series

In [6]:
#This series has data from the list but default index ranging from 0 to n-1 data items.

QUESTION : HOW TO CREATE SERIES WITH INDEX

In [8]:
my_index = ['x', 'y', 'z']
my_data = ['apple', 'orange', 'mango']
my_series = pd.Series(my_data, my_index)

In [9]:
my_series

x     apple
y    orange
z     mango
dtype: object